{% extends "base.html" %}

{% block content %}
<h1>Log-In</h1>
<form action="/login" method="post">
    <label for="username">Username</label>
    <input name="username" type="string" value="{{ username }}">
    <p class="error">{{username_error}}</p><br>
    <label for="password">Password</label>
    <input name="password" type="password">        
    <p class="error">{{password_error}}</p><br>
    <input type="submit" value="Login">
    <p>If you don't have an account, you may <a href="/signup">sign-up</a> for one.</p>
</form>
{% endblock %}